/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* link styling */
.link { 
    color: #FFCB05; /* Maize */
}
.link:hover {
    color: #00274C; /* Blue */
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/hero_standing.jpg');
    background-size: cover;
    background-position: center top;
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* hero text with typewriter effect */
.hero-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  color: #FFCB05;
  height: calc(100vh - [navbar-height]px); 
  padding-top: [navbar-height]px;
}

#typewriter {
  font-size: 30px;
  color: #FFCB05;
}

.typewriter-text {
    white-space: nowrap;
    display: inline-block; 
}

.caret {
    display: inline-block; 
    width: 2px;
    height: 1em; 
    background-color: #FFCB05;
    vertical-align: center;
    margin-left: 2px;
    animation: blink-caret .7s step-end infinite; /* Blinking animation */
}

/* add keyframes for blinking animation */
@keyframes blink-caret {
  from, to { background-color: transparent; }
  50% { background-color: #FFCB05; }
}

/* skills section styling */
.skillsText.card {
    height: 110px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #00274C; /* Blue */
    color: white;
  }
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    color: inherit;
}
.card-title {
    text-align: center;
    color: inherit;
}
.card:hover .skillsIcon {
    color: #FFCB05; /* Maize */
    border: 1px solid #00274C;
}
.card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* projects section styling */
.projectsText.card {
    height: 500px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white; /* Blue */
    color: black;
  }

/* gallery section styling */
.imageGallery.card {
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white; /* Blue */
    color: black;
  }

/* additional info section styling */
.custom-padding {
    padding-left: 2px;
    padding-right: 1px; 
}

/* headshot image css */
.imageHeadshot {
    max-width: 100%;
    height: auto;
    display: block;
    width: 250px;
}

/* spacing on all sections */
 #about, #skills, #projects, #additional #projectDescription #gallery {
    margin-top: 2rem;
    padding-top: 2rem;
} 

#additional {
    padding-bottom: 4rem;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover, .fa-github:hover .fa-house:hover{
    color: #00274C;
}
.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: #FFCB05;
    text-align: center;
}

/* contact form styling */
.form-header {
  padding-top: 200px;
  margin-bottom: 20px; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #FFCB05;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00274C;
}

.form-container {
  min-height: 100vh;
  padding: 30px;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fs-frm {
  max-width: 600px;
  margin: auto; 
  padding: 20px;
  background: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#fs-frm input[type="submit"] {
  display: block; 
  width: 100%; 
  margin-top: 15px; 
}
